<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="catalogo">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Heroes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contáctenos</a>
      </li>
    </ul>
  </div>
  <div class="botones">
    <input type="button" class="btn btn-success" value="Login">
    <input type="button" class="btn btn-danger" value="Salir">
  </div>
    
</nav>
<div class="contenedor">
  <router-outlet></router-outlet>
</div>
<footer class="fixed-bottom">
  <p>Web Design 2021 - @AngelDX</p>
</footer>